.container {
  display: grid;
  width: 1004px;
  grid-template-columns: 110px minmax(150px, 1fr) minmax(120px, 1fr) 1fr minmax(120px, 1fr) minmax(120px, 1fr);
  grid-template-rows: 30px repeat(2, 30px) 30px 1fr;
  grid-gap: 0.5rem;
  grid-template-areas:
    "photo    account   post     post      post      post      "
    "photo    .         post     post      post      post      "
    "photo    friends   post     post      post      post      "
    "photo    followers likes    .         shares    views     ";
}

.photo {
  grid-area: photo;
}

.account {
  grid-area: account;
}

.friends {
  grid-area: friends;
}

.followers {
  grid-area: followers;
}

.post {
  grid-area: post;
}

.likes {
  grid-area: likes;
}

.shares {
  grid-area: shares;
}

.views {
  grid-area: views;
}

.content {
  grid-area: content;
}

.content-container {
  display: grid;
  width: 1024px;
  height: 100%;
  grid-template-columns: minmax(340px, 1fr) minmax(340px, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 0.5rem;
  grid-template-areas:
    "messages responses";
}


.messages {
  grid-area: messages;
}

.responses {
  grid-area: responses;
}



.msg-container {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-auto-rows: minmax(60px, auto);
  align-content: start;
  grid-gap: 0.3rem;
}

.msg-photo {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.msg {
  grid-column: 2;
}



.msg-item {
  border: 1px solid #373737;
  display: flex;
  font-size: 18px;
}

.msg-photo {
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: url("https://i.ibb.co/ccYnJS7/Screenshot-2022-11-17-01-49-26.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 0px;
}

.msg {
  padding: 0px 10px;
  justify-content: start;
  align-items: center;
  font-size: 16px;
}




.res-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 0.5rem;
}

.res-prompt {
  grid-column: 2;
  grid-row: 1;
}

.response {
  grid-column: 2;
}

.res-photo {
  grid-column: 1;
  grid-row: 1 / span 2
}


.msg-container, .res-container {
  border-radius: 30px;
  border: 2px solid #2f528f;  
  padding: 10px;
/*   margin-top: 10px; */
}

.res-item {
  border: 1px solid #878787;
  display: flex;
  font-size: 16px;
  padding: 10px;
}

.res-prompt {
  border: none;
  background: none;
  box-shadow: none;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  padding-left: 5px;
  font-weight: bold;
}

.response {
  justify-content: start;
  text-align: left;
}

.res-photo {
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: url("https://i.ibb.co/nrKPtjN/Screenshot-2022-11-16-at-16-41-15.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 0px;
}






/* OTHER STYLES */

body {
  padding: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  border-radius: 30px;
  border: 4px solid #2f528f;  
  padding: 10px;
}

.content-container {
  margin-top: 10px;
}

.content-item {
  display: flex;
}

.item {
  border: 1px solid #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 5px;
}

.photo {
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: url("https://i.ibb.co/nrKPtjN/Screenshot-2022-11-16-at-16-41-15.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 0px;
}


.account {
  box-shadow: none;
  background-color: transparent;
  justify-content: start;
}

.account p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.friends,
.followers {
  box-shadow: none;
  background-color: transparent;
  justify-content: start;
}

.post {
  align-items: normal;
  justify-content: normal;
}

.likes, .shares, .views {
  box-shadow: none;
  background-color: transparent;  
  justify-content: start;
}

.content {
  box-shadow: none;
}
